<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name">Tüm Hakları NetworkAcademy Saklıdır. &copy; 2022 
                <a href="/Home/Index"> MHRS - Merkezi Hekim Randevu Sistemi</a></p>
            </div>
        </div>
        <div class="row">
            <a href="mailto:networkacademy@gmail.com">networkacademy@gmail.com</a>
            <myemail mail-to="networkacademy@gmail.com">Mail Gönder</myemail>
        </div>
    </div>
</footer>
<!-- End Footer -->
