
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}
<div class="row">
    @*Randevu al ve geri butonu*@
</div>
<div class="row" style="background-color:whitesmoke; border-radius:4px; padding:10px">
    <div class="col-md-12">
        <form asp-controller="Patient" asp-action="SaveAppointment" method="post">
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="City" style="font-weight:bold">İL</label>
                <select id="CitySelect" name="City" class="form-control">
                    <option selected value="0">**İl Seçiniz**</option>
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option value="@item.Id">@item.CityName</option>
                    }

                </select>

            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="District" style="font-weight:bold">İLÇE</label>
                <select id="DistrictSelect" name="District" class="form-control">
                    <option selected value="0">***İlçe Seçiniz***</option>
                </select>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="Clinic" style="font-weight:bold">KLİNİK</label>
                <select id="ClinicSelect" name="Clinic" class="form-control">
                    <option selected value="0">***Klinik Seçiniz***</option>
                    @foreach (var item in ViewBag.Clinics)
                    {
                        <option value="@item.Id">@item.ClinicName</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="Hospital" style="font-weight:bold">İLÇE</label>
                <select id="DistrictSelect" name="District" class="form-control">
                    <option selected value="0">***İlçe Seçiniz***</option>
                </select>
            </div>
        </form>

    </div>
</div>
       @section Scripts{
    <script>
        $('#CitySelect').on('change', function () {
            var $dropdown = $("#DistrictSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>İlçe Seçiniz</option>");
            var cityId = this.value;
            if (cityId > 0) {
                $.ajax({
                    type: "GET",
                    url: '/City/GetCityDistricts/' + cityId,
                    success: function (res) {
                        //console.log(res.data);
                        //<option selected value="0">İl Seçiniz</option>

                        var $dropdown = $("#DistrictSelect");
                        $dropdown.empty();
                        $dropdown.append("<option selected value='0'>İlçe Seçiniz</option>");

                        $.each(res.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.districtName));
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    },
                });
            }
        });


        $('#DistrictSelect').on('change', function () {
            var districtid = this.value;
            alert(districtid);
        });

        $('#ClinicSelect').on('change', function () {
            var clinicid = this.value;
            alert(clinicid);
        });
    </script>
}
 
