
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}

<div class="row">
    @*Randevu al ve geri butonu*@
</div>
<div class="row" style="background-color:whitesmoke; border-radius:4px; padding:10px">
    <div class="col-md-12">
        <form asp-controller="Patient" asp-action="SaveAppointment" method="post">
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="City" style="font-weight:bold">İL</label>
                <select id="CitySelect" name="City" class="form-control">
                    <option selected value="0" >**İl Seçiniz**</option>
                    @foreach (var item in ViewBag.Cities)
                    {
                        <option value="@item.Id">@item.CityName</option>
                    }

                </select>

            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="District" style="font-weight:bold">İLÇE</label>
                <select name="District" class="form-control">
                  

                </select>

            </div>
        </form>

    </div>
</div>
@section Scripts{ 
    <script>
        $('#CitySelect').on('change', function () {
            var cityId = thid.value;
            if (cityId > 0) {
                $.ajax({
                    type: "GET",
                    url: '/City/GetCityDiscricts' + id,
                    success: function (res) {

                    },
                    error: function (err) {
                        console.log(err);
                    },
                }
                );
            }

        });
    </script>
}
