
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}

@if (!string.IsNullOrEmpty(TempData["SaveAppointmentStatus"] as String))
{
<div class="alert alert-warning" role="alert">
    @TempData["SaveAppointmentStatus"]
</div>
}
<div class="row">
    <div class="col-md-4">
        <button asp-controller="Patient" asp-action="Appointment" class="btn btn-block btn-default" style="color: white; background-color: #bf2023; height: 100px; margin: auto 0 ">
            <i class="fa fa-h-square" aria-hidden="true" style="transform:scale(3); float:left; margin-left: 10px; margin-top:10px"></i>
            <span style="font-weight: bold">RANDEVU AL</span><br />
            <span style="font-size:12px;">Hastanedeki kliniklerden randevu alabilirsiniz</span>
        </button>
    </div>
    <div class="col-md-8">

    </div>
</div>

