@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}

<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500">
                    <img src="https://i.hizliresim.com/dxgyiey.jpg" />
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>COVID-19 ÖNLEMLERİ</h1>
                            <p>Maske - Mesafe - Hijyen </p>
                            <a href="#" class="btn">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url(https://i.hizliresim.com/m119zs3.jpg);">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>We are Expert in The Field of Health Lab</h1>
                            <p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum</p>
                            <a href="#appointment" class="btn">Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url(https://i.hizliresim.com/954ndxf.jpg);">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>Welcome to Health Lab</h1>
                            <p>Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum </p>
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>

                </div>
            </div><!-- .pogoSlider -->
        </div>
    </div>
</div>
<!-- End Banner -->

