@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ConfirmResetPassword";
    Layout = "~/Views/Shared/_LayoutAccountMHRS.cshtml";
}
<div class="row">
<div class="col-md-6" style="margin-top:85px">
    <h1 style="font-weight:bold">Şifre Güncelleme</h1>
    <h4 style="color:darkgrey">Tüm alanların doldurulması zorunludur.</h4>
    <form asp-controller="Account" asp-action="ConfirmResetPassword"
          method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="UserId" value="@ViewBag.UserId" />
        <input type="hidden" name="Code" value="@ViewBag.Code" />
        <div class="form-group">
            <span class="text-danger" style="font-weight:bold;margin-right:3px">
                *
            </span>
            <label style="font-weight:bold" asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger">
            </span>

        </div>
        <div class="form-group">
            <span class="text-danger" style="font-weight:bold;margin-right:3px">
                *
            </span>
            <label style="font-weight:bold" asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger">
            </span>

        </div>
        <div class="form-group">
            <input type="submit" value="Şifre Güncelle" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;" />
        </div>
    </form>
</div>
<div class="col-md-6">
    <img src="~/health-theme-assets/images/img-2.jpg" style="max-width: 100%; height: auto; position: fixed " />
</div>

</div>

