@model string
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutAccountMHRS.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.ResetPasswordMessage))
{
    <div class="text-center">
        <h4 class="text-info">@ViewBag.ResetPasswordMessage</h4>
    </div>
}
<div class="row">
    <div class="col-md-6" style="margin-top:85px">
        <h1 style="font-weight:bold">Şifremi Unuttum</h1>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" style="margin-top:auto">
                <label style="font-weight:bold" class="control-label">E-Mail</label>
                <input name="email" type="email" class="form-control" />
            </div>
            <input type="submit" value="Şifre Yenile" class="btn btn-default" style="background-color:#46B3AE; color:white;" />
        </form>
    </div>
    <div class="col-md-6">
        <img src="~/health-theme-assets/images/img-3.jpg" />
    </div>
</div>