@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAccountMHRS.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <h1 style="font-weight:bold">Doktor Üye Ol</h1>
        <h4 style="color:darkgrey">*Tüm alanların doldurulması zorunludur.</h4>
        <form asp-area="Management" asp-controller="Doctor" asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="TCNumber" class="control-label"></label>
                <input asp-for="TCNumber" class="form-control" type="text" maxlength="11" />
                <span class="text-danger" asp-validation-for="TCNumber"></span>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" type="text" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" type="text" />
                <span class="text-danger" asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="text" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" type="date" />
                <span class="text-danger" asp-validation-for="BirthDate"></span>
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px">
                    *
                </span>
                <label for="Gender">Cinsiyet</label>
                <select name="Gender" class="form-control">
                    <option value="0" selected>Belirtilmemiş</option>
                    <option value="1">Bay</option>
                    <option value="2">Bayan</option>

                </select>

            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold" margin-right:3px">
                    *
                </span>
                <label style="font-weight:bold" asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kayıt Ol" class="btn btn-info btn-block" />
            </div>


        </form>
    </div>
    <div class="col-md-6">
        <img src="~/health-theme-assets/images/3.png" />
    </div>

</div>



